upstream backend {
    server nodeServer-1:8210;
    server nodeServer-2:8210;
    server nodeServer-3:8210;
    server nodeServer-4:8210;
}

server {
    listen 8198;

    nginxCopy code;

    location / {
        auth_basic "Restricted Access";
        auth_basic_user_file /etc/nginx/.htpasswd;
        proxy_pass localhost:8198/;
    }
}